<article class="message is-primary is-small">
	<div class="message-header">
		<p>{{ pseudo }}</p>
	</div>
	<div class="message-body">
		<form>
			<div class="field">
				<div class="control">
					<textarea
						class="textarea is-primary is-fullwidth"
						name="comment"
						[(ngModel)]="newComment"
					></textarea>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button type="submit" class="button is-primary is-fullwidth" (click)="saveComment()">
						Enregistrer
					</button>
				</div>
			</div>
		</form>
	</div>
</article>
