@mixin btnTheme($color) {
	background-color: $color;
	color: $white;
	&.btn--outline {
		background-color: transparent;
		border-color: $color;
		color: $font-color;
	}
	&:focus,
	&:hover,
	&:active {
		background-color: rgba($color, 0.8);

		&.btn--outline {
			background-color: rgba($color, 0.2);
		}
	}
}
