<div
	class="choice-button-zone has-text-centered {{ 'is-answer-' + answerKind }} clickable"
	[ngClass]="{ 'is-active': storageService.choiceHasAnswerOfValue(choice.id, answerEnum[answerKind]) }"
	(click)="storageService.toggleAnswer(choice.id, answerEnum[answerKind])"
	*ngIf="poll.allowed_answers.indexOf(answerEnum[answerKind]) !== -1"
>
	<button
		class="icon-deco choice-button has-background-answer-{{ answerKind }} is-filtered-icon-{{ answerKind }}"
	></button>
	<p class="button-description">
		{{ 'participation.' + answerEnum[answerKind] | translate }}
	</p>
</div>
